
Temp/workerlic
Temp/UnityLockfile
Temp/FSTimeGet-4f7eb27369812cf44bf0c4acd6304bcb
Temp/__Backupscenes/0.backup
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
gitIgnore.gitignore
